---
import type { NavLink } from "@/src/utils/comps.config";

interface Props {
  links: NavLink[];
}

const { links } = Astro.props;
---

<div
  id="mobile-menu"
  class="transition-all duration-500 ease-in-out max-h-0 opacity-0 overflow-hidden flex-col md:hidden w-full bg-white text-[#24408d] px-4 shadow-md"
>
  <ul class="flex flex-col text-lg mt-[15dvh]">
    {
      links.map(({ link, href, submenu }) => (
        <li class="border-b border-gray-200">
          <div class="flex flex-col">
            <button
              class="flex justify-between items-center w-full px-6 py-4 submenu-toggle text-left"
              data-has-submenu={submenu ? "true" : "false"}
            >
              <span>{link}</span>
              {submenu && (
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19 9l-7 7-7-7"
                  />
                </svg>
              )}
            </button>

            {submenu ? (
              <ul class="hidden flex-col bg-gray-100 submenu-items">
                {submenu.map(({ name, href }) => (
                  <li>
                    <a
                      href={href}
                      class="block px-8 py-2 hover:bg-[#24408d] hover:text-white"
                    >
                      {name}
                    </a>
                  </li>
                ))}
              </ul>
            ) : (
              <a
                href={href}
                class="px-6 py-2 text-sm text-[#24408d] hover:underline"
              >
                {link}
              </a>
            )}
          </div>
        </li>
      ))
    }
  </ul>

  <div class="p-4">
    <a
      href="#"
      class="block font-semibold text-center bg-[#24408d] text-white py-2 rounded-md"
    >
      Cotiza ahora
    </a>
  </div>
</div>
