---
import LinkedIn from "@/public/linkedin.svg";
import Facebook from "@/public/facebook.svg";
import Phone from "@/public/phone.svg";
import Mail from "@/public/mail.svg";
import Clock from "@/public/clock.svg";

// const { phone, email, schedule, fbLink, inLink } = Astro.props;
---

<section
  class="w-full bg-[#24408d] text-white text-[12px] h-[6dvh] z-50 flex items-center justify-between px-4 2xl:px-[12rem] lg:px-[4rem] sm:px-[0px]"
>
  <section>
    <ul class="flex gap-4">
      <li class="flex gap-2 items-center">
        <Phone width={34} />
        <!-- {phone} -->
        +52 (81) 1771 4793
      </li>
      <li class="flex gap-2 items-center">
        <Mail width={34} />
        <!-- {email} -->
        ventas@mazaguahelada.com.mx
      </li>
      <li class="flex gap-2 items-center">
        <Clock width={34} />
        <!-- {schedule} -->
        Lun - Vie 8:00 - 18:00
      </li>
    </ul>
  </section>

  <section>
    <ul class="flex gap-2">
      <li>
        <!-- <a href={fbLink} target="_blank"> -->
        <a href="https://www.facebook.com/Mazaguahelada/" target="_blank">
          <Facebook width={34} />
        </a>
      </li>
      <li>
        <!-- <a href={inLink} target="_blank"> -->
        <a
          href="https://www.linkedin.com/company/mazaguahelada"
          target="_blank"
        >
          <LinkedIn width={34} />
        </a>
      </li>
    </ul>
  </section>
</section>
